* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffefce;
}

.content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

canvas {
    margin: 2rem;
    width: 50vh;
    border: solid 0.5rem #ad2921;
    border-radius: 0.5rem;
}

label {
    cursor: pointer;
    background-color: #ad2921;
    color: #ffefce;
    padding: 1rem 2rem 1rem 2rem;
    font-family: monospace;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    transition: 0.25s;
}

label:hover {
    background-color: #de944a;
}
